.cards-container {
  width: calc(100% - 280px); 
  margin-left: 280px; 
}
.cards {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}
@media (max-width : 945px) {
  .cards-container {
    margin-left: 0px;
    width: 100%;
  }
  .cards {
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
  }
}