header {
  margin-left: 280px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 280px);
  gap: 30px;
}
.header-first-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.header-second-line {
  display: flex;
  justify-content: space-between;
  width: 80%;;
}
.header-icons {
  display: flex;
  gap: 5px;
  align-items: flex-start;
}
.menu-icon {
  width: 20px;
  cursor: pointer;
}
.menuAndSearch {
  display: flex;
  gap: 5px;
}
@media (max-width : 945px) {
  header {
    margin-left: 0px;
    align-items: center;
    width: 100%;
  }
  .header-first-line , .header-second-line {
    width: 100%;
  }
}
@media (min-width : 945px) {
  .menu-icon {
    display: none;
  }
}
